<div class="auth min-h-screen max-w-screen p-2 flex flex-col bg-white dark:bg-gray-900" data-controller="theme-switch" data-theme-switch-target="page">
  <div class="nav z-0 p-8 flex justify-between items-center">
    <div class="logo flex">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 216 432" class="fill-logo dark:fill-white">
        <path d="M0 3h213l-85 170h85L64 429V237H0V3z"/>
      </svg>
      <h2 class="text-xl font-bold font-roboto text-logo dark:text-white">Flash</h2>
    </div>
    <%= render Buttons::ThemeButtonComponent.new %>
  </div>
  <div class="box z-10 flex flex-col justify-center items-center grow-1">
    <div class="auth rounded-lg p-8 min-w-md h-max flex flex-col justify-center items-center ring shadow-xl ring-gray-900/5 dark:bg-gray-700/20 dark:text-white dark:border dark:border-gray-200/50">
      <%- if flash_errors %>
        <%= render Field.new do %>
          <p class="text-sm text-red-700"><%= flash_errors %></p>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
  </div>
</div>